<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.3">
	
    <!-- Module Properties -->
	<id>@MODULE_ID@</id>
	<name>@MODULE_NAME@</name>
	<version>@MODULE_VERSION@</version>
	<package>@MODULE_PACKAGE@</package>
	<author>Rafal Korytkowski</author>
	<description>
			A module which allows to validate data and metadata in your system.
	</description>
	
	<!-- / Module Properties -->
	
	<require_version>${openMRSVersion}</require_version>

	<aware_of_modules>
		<aware_of_module>org.openmrs.module.legacyui</aware_of_module>
	</aware_of_modules>

	<!-- Required Privileges -->
	<privilege>
		<name>Validate Objects</name>
		<description>Allows to validate data and metadata</description>
	</privilege>
	<!-- /Required Privileges -->

    <!-- Module Activator -->
	<activator>org.openmrs.module.validation.ValidationActivator</activator>
	
	<!-- Add's link to admin page --> 
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>org.openmrs.module.validation.web.extension.AdminList</class>
	</extension>
	
	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<!-- /Internationalization -->
	
</module>

